.WeatherTemperature a {
  text-decoration: none;
  color: #800080;
}

.WeatherTemperature a:hover {
  color: #800080;
}

.WeatherTemperature .temperature {
  font-size: 50px;
  position: relative;
  bottom: 15px;
  left: 10px;
}

.WeatherTemperature .units {
  position: relative;
  bottom: 35px;
  left: 10px;
  font-size: 18px;
  font-weight: bold;
}

@media (max-width: 768px) {
  .WeatherTemperature .temperature {
    font-size: 45px;
  }

  .WeatherTemperature .units {
    font-size: 15px;
  }
}
