.Weather .container {
  max-width: 700px;
  margin-top: 50px;
  border-radius: 5px;
  padding: 40px;
  background: linear-gradient(to top right, #ff9696, #8c6bae);
  color: white;
}

.Weather ul {
  padding: 0;
}

.Weather li {
  list-style: none;
}


.Weather .search {
  width: 275px;
  height: 35px;
  background: #f9f7fe;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.Weather .button {
  background: rgb(209, 44, 113);
  border: none;
  margin-bottom: 10px;
  color: white;
}

.Weather .button:hover {
  color: white;
}
