body {
  font-family: "Arbutus Slab", "Arial", sans-serif;
  line-height: 1.5;
  background-size: 100%;
  background-repeat: no-repeat;
  background-position: left;
}
h1,
h2 {
  margin: 0;
  padding: 0;
  font-weight: bold;
}
h1 {
  letter-spacing: 3px;
}
h2 {
  font-size: 40px;
  font-family: "Dancing Script", cursive;
}

button {
  background: transparent;
  border: none;
  padding: 10px 5px;
}

ul {
  padding: 0;
}
li {
  list-style: none;
  padding: 0;
}

.my-container {
  padding: 30px 30px 0;
  margin-top: 100px;
  /* max-height: 750px; */
  max-width: 65%;
  border-radius: 20px;
  border: 2px solid black;
  background: linear-gradient(
    178.6deg,
    rgba(226, 235, 255, 0.507) 3.3%,
    rgba(163, 215, 248, 0.507) 109.6%
  );
  /* background-color: rgb(255, 255, 255) */
  box-shadow: 0 5px 5px rgba(0, 0, 0, 0.2);
}

.weather-title {
  text-align: center;
  margin-top: 0 auto;
  padding: 10px auto;
  font-size: 25px;
  white-space: nowrap;
}

.current-location-name {
  font-size: 60px;
  font-weight: bold;
  letter-spacing: 3px;
  position: relative;
  right: 5px;
  text-transform: capitalize;
}

.last-updated {
  font-family: "arial", sans-serif;
  position: relative;
  bottom: 15px;
  font-size: 13px;
  color: #686868;
}

.current-location {
  font-size: 15px;
  position: relative;
  top: 20px;
  left: 40px;
}
.current-weather {
  position: relative;
  bottom: 10px;
  left: 30px;
  font-size: 40px;
}

.current-weather img {
  width: 100px;
}

.current-temp {
  font-size: 60px;
  position: relative;
  top: 5px;
}

.units {
  bottom: 20px;
}

.units a {
  color: #ec6e4c;
}

.fahrenheit-unit,
.celsius-unit {
  position: relative;
}
.current-description {
  text-transform: capitalize;
  position: relative;
  bottom: 5px;
  font-size: 23px;
  color: #575555;
}

.feelsLike {
  position: relative;
  color: #575555;
  top: 70px;
  font-size: 13px;
}
.fahrenheit-unit,
.celsius-unit,
.units {
  font-size: 20px;
  position: relative;
  text-decoration: none;
}

.fahrenheit-unit:hover {
  cursor: pointer;
  text-decoration: none;
}

.current-weather .active {
  color: black;
  cursor: default;
}

.weather-details {
  font-size: 15px;
  position: relative;
  top: 20px;
  right: 10px;
  letter-spacing: 1px;
}

.forecast {
  max-width: 150px;
  text-align: center;
  position: relative;
  font-size: 20px;
  bottom: 300px;
  left: 20px;
}

.forecast-icon img {
  width: 80px;
}

.temperature-high {
  font-weight: bold;
}

.open-source {
  margin-top: 10px;
  position: relative;
  top: 50px;
  font-size: 12px;
  letter-spacing: 1px;
}

.github-link,
.linkedin {
  text-decoration: none;
  color: #0074e4;
}
