.Weather ul {
  padding: 0;
}

.Weather li {
  list-style: none;
}

.Weather .search {
  width: 275px;
  height: 35px;
  background: #f9f7fe;
  border: none;
  border-radius: 5px;
  padding: 10px;
  margin-bottom: 10px;
}

.Weather .button {
  background: rgb(209, 44, 113);
  border: none;
  margin-bottom: 10px;
  color: white;
  position: relative;
  right: 30px
}

.Weather .button:hover {
  color: white;
}

@media (max-width: 550px) {
  .Weather .search {
    width: 160px;
  }
  .Weather .button {
    position: relative;
    left: 75px;
  }
}
